.white {
  background-color: transparent;
  color: #0074fc;
  border: 0.5px solid rgba(22, 73, 116, 0.24);
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #025abe;
  }
}

.btn {
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  line-height: 1;
  font-weight: 700;
  padding: 0.3125rem 0.9375rem;
  border-radius: 1.2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
}
