.header {
  .header-logo {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    position: relative;
    z-index: 10;
    height: 5.6875rem;
    border-bottom: 0.5px solid rgba(22, 73, 116, 0.24);
    margin-bottom: 1.95rem;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    @media (min-width: 1024px) {
      padding: 1.5rem 2rem;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    @media (max-width: 1024px) {
      display: none;
    }
    .actions-btn {
      display: flex;
      align-items: center;
      gap: 0.1875rem;
      cursor: pointer;
      color: #4e697e;
      transition: all 0.3s ease;
      margin-left: 5px;
      &:hover {
        color: #186ccc;
      }
      svg {
        color: #0074fc;
      }
    }
  }
}

.mobile-menu {
  position: fixed;
  width: 100%;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  background-color: #ffffff;
  border-top: 0.0313rem solid rgba(0, 0, 0, 0.12);
  display: none;
  @media (max-width: 1024px) {
    display: block;
  }
  .mobile-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 0.3125rem;
    .mobile-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      font-size: 0.8125rem;
      svg {
        font-size: 1.3125rem;
        margin-bottom: 0.1875rem;
      }
      &.mobile-active {
        color: #0077ff;
      }
    }
  }
}
