.header {
  position: relative;
  z-index: 10;
  padding: 1.8rem 0;
  border-bottom: 0.5px solid rgba(22, 73, 116, 0.24);
  margin-bottom: 1.95rem;
  @media (min-width: 1024px) {
    padding: 2.5rem 0;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    @media (min-width: 744px) {
      padding: 0 2rem;
    }
  }
  .actions {
    display: flex;
    align-items: center;
    gap: 1.3125rem;
    .actions-btn {
      display: flex;
      align-items: center;
      gap: 0.1875rem;
      cursor: pointer;
      color: #333333;
      transition: all 0.3s ease;
      margin-left: 5px;
      &:hover {
        color: #186ccc;
      }
    }
  }
}
