.sidebar {
  border-top: none;
  @media (min-width: 1024px) {
    z-index: 9;
    top: 0;
    right: 0;
    width: 18.75rem;
    padding-right: 3rem;
  }
  .sidebar-container {
    @media (min-width: 1024px) {
      position: sticky;
      top: 3rem;
      width: 100%;
      transition: all 0.3s ease 0s;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .balance {
    padding: 15px 16px;
    border: 0.5px solid rgba(22, 73, 116, 0.24);
    border-radius: 12px;
    margin-bottom: 1.5rem;
    .balance-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      &:not(:first-child) {
        margin-top: 1rem;
      }
      .balance-title {
        font-family: 'NormsPro-Medium';
        font-size: 1.08rem;
        font-weight: 500;
        line-height: 1.33;
      }
      .balance-t {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.38;
      }
      .balance-available {
        font-weight: 400;
        color: #22bb62;
      }
      .balance-reserve {
        font-weight: 400;
        font-weight: 600;
      }
    }
  }
  .menu-list {
    .menu-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 0.3125rem;
      padding: 0.8rem 1rem;
      min-height: 2rem;
      font-family: 'NormsPro-Regular';
      border-radius: 12px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: #f1f4f7;
      }
      &.active {
        font-weight: 600;
        background-color: #f1f4f7;
      }
      .menu-status {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        font-weight: 300;
        &:after {
          content: '';
          display: block;
          flex: none;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #6fcf97;
        }
      }
    }
  }
}
