.table {
  padding: 0.9125rem 0.3125rem;
  border: 0.0625rem solid #666;
  border-radius: 0.625rem;
  width: 100%;
  margin-top: 1.25rem;
  .table-top {
    th {
      color: #333333;
      font-weight: 400;
      font-size: 15px;
    }
  }
}
