.table {
  width: 100%;
  padding: 0 0.7125rem;
  border: 0.0625rem solid #c7d3de;
  border-radius: 0.625rem;
  margin-top: 1.25rem;

  .table-top {
    margin-bottom: 1rem;

    .table-title {
      width: max-content;
      padding: 1.3rem 0 0.8rem 0;
      color: #4e697e;
      font-weight: 400;
      font-size: 15px;
    }
  }
}
