@font-face {
  font-family: 'NormsPro-Medium';
  src: url('../fonts/TTNormsPro-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'NormsPro-Regular';
  src: url('../fonts/TTNormsPro-Regular.woff2') format('woff2');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'NormsPro-Regular', sans-serif;
  min-width: 320px;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
  @media (min-width: 744px) {
    height: auto !important;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 744px) {
    padding: 0 2rem;
  }
}
.body {
  width: calc(100% - 18.75rem);
}

main {
  flex-direction: column;
  flex: 1 1 auto;
}

.cabinet {
  margin-bottom: 20px;
}
