.h1 {
  font-family: 'NormsPro-Medium';
  font-weight: 500;
  font-size: 1.925rem;
  line-height: 1.2;
  @media (max-width: 1024px) {
    font-size: 1.7rem;
  }
}

.h2 {
  font-family: 'NormsPro-Medium';
  font-weight: 500;
  font-size: 1.775rem;
  line-height: 1.875;
}

.h3 {
  font-family: 'NormsPro-Medium';
  font-weight: 500;
  font-size: 1.45rem;
  line-height: 1.6875;
}
