.h1 {
  font-weight: 500;
  font-size: 2.625rem;
  line-height: 2.1875rem;
  margin: 0;
}

.h2 {
  font-weight: 500;
  font-size: 1.975rem;
  line-height: 1.875rem;
  margin: 0;
}

.h3 {
  font-weight: 500;
  font-size: 1.45rem;
  line-height: 1.6875rem;
  margin: 0;
}
